body{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    background-color: rgb(19, 19, 19);
}

.contaner{
    background-color: white;
    margin-top: 115px;
    width: 410px;
    height: 285px;
}

.contaner div{
    width: 380px;
    /* background-color: aquamarine; */
    height: 85px;
    margin-top: 26px;
}

input{
    width: 320px;
    height: 42px;
    margin-left: 35px;
    padding-left: 15px;
}

label{
    margin-left: 40px;
    font-size: 24px;
}

button{
    margin-left: 155px;
    width: 115px;
    height: 46px;
    font-size: 19px;
    cursor: pointer;
}